<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="../datasession.js"></script>
</head>

<body>
    <button hx-get="/example/click.html" hx-swap="outerHTML">HTMX Click Me</button>

    <form hx-get="/example/form.html" hx-target="body">

        <input data-id="name" type="text" name="name" placeholder="Name">

        <br />

        <textarea data-id="message" name="message" placeholder="Message"></textarea>

        <br />

        <select data-id="color" name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>

        <br />

        <button type="submit">Submit</button>

        <br /><br />
        <hr /><br />

        <button type="reset" onclick="resetData()">Reset Page Data</button>
    </form>

</body>

</html>