<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="../datastore.js"></script>
</head>

<body>
    <h1>Examples</h1>
    <button hx-get="./click.html" hx-swap="outerHTML">HTMX Test - Click Me</button>
    <hr />

    <h2>Data Session Storage Form Example</h2>
    <p>Session Data Key <code>data-session="name"</code> this sets the key "data-session:name" in session storage.
    </p>
    <form hx-get="./form.html">

        <input data-session="name" type="text" name="name" placeholder="Name">

        <br />

        <textarea data-session="message" name="message" placeholder="Message"></textarea>

        <br />

        <select data-session="color" name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>

        <br />

        <button type="submit">Submit</button>


        <button type="reset" onclick="removeData(['data-session:*'])">Reset Session Data</button>
    </form>

    <br /><br />
    <hr /><br />

    <h2>Data Local Storage Form Example</h2>
    <p>Local Data Key <code>data-local="name"</code> this sets the key "data-local:name" in local storage.
    </p>
    <form hx-get="./form.html">

        <input data-local="name" type="text" name="name" placeholder="Name">

        <br />

        <textarea data-local="message" name="message" placeholder="Message"></textarea>

        <br />

        <select data-local="color" name="color">
            <option value="red">Red</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
        </select>

        <br />

        <button type="submit">Submit</button>

        <button type="reset" onclick="removeData(['data-local:*'])">Reset Local Data</button>

    </form>

    <br /><br />
    <hr /><br />

</body>

</html>